appname = go-api-admin
httpport = 8081
httpaddr = 127.0.0.1
runmode = dev

# 站点名称
site.name = API管理平台

# 数据库配置
db.host = 127.0.0.1
db.user = root
db.password =
db.port = 3306
db.name = dt_api
db.prefix = dt_
db.timezone = Asia/Shanghai